body {
  font-family: var(--font-quicksand);
  margin: 0;
}

.midori {
  color: var(--color-lightseagreen);
}

.noken {
  color: var(--stylist-color-1);
}

a {
  text-decoration: none;
}

:root {
  /* fonts */
  --font-quicksand: Quicksand;
  --font-patrick-hand: "Patrick Hand";

  /* font sizes */
  --font-size-5xl: 1rem;
  --font-size-base: 0.5rem;
  --font-size-xl: 0.75rem;
  --font-size-29xl: 2rem;
  --font-size-9xl: 1.25rem;
  --font-size-17xl: 1.75rem;
  --font-size-61xl: 4.5rem;
  --font-size-37xl: 2.5rem;
  --font-size-109xl: 7.5rem;

  /* Colors */
  --color-lightseagreen: #00a78e;
  --gradient-4: #13c3a9;
  --gradient-3: #13796a;
  --stylist-color-3: #f1f1f1;
  --stylist-color-1: #02051f;
  --white-1: #fefefe;
  --gray-3: #4e4e4e;
  --gray-2: #e9e9e9;
  --gray-1: #898a9c;

  /* border radiuses */
  --br-xs: 12px;
  --br-3xs: 10px;
  --br-5xl: 24px;
  --br-5xs: 8px;

  /* Effects */
  --divider-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.05);
  --menu-field-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.05);
  --button-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}