/* Header Section */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  z-index: 100;
  box-sizing: border-box;
}

header .container {
  display: flex;
  gap: 4rem;
  align-items: center;
}

header .container .profile-img {
  width: 48px;
  height: 48px;
}

header .container h1 {
  padding-inline: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  align-self: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 4rem;
}

header nav li {
  list-style-type: none;
}

header nav li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--stylist-color-3);
  padding: .2rem 0.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
  font-weight: bolder;
}

header nav a:hover {
  color: var(--gray-3);
}

/* Main Section */

main {
  width: 100%;
  height: auto;
}

.jumbotron {
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--gradient-3);

  background-image: url('../../public/main-jumbotron-bg.png');
  background-size: cover;
  background-position: center;
  height: 56rem;
  /* atur ketinggian jumbotron */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jumbotron .container {
  display: flex;
  padding: 2rem;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
}

.jumbotron .container .social-media {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 32%;
  align-self: center;
  justify-content: center;
}

.social-media .icon img {
  display: block;
  max-width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.social-media .icon img:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.jumbotron .container .content {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding-left: 2rem;
  max-width: 32%;
}

.jumbotron .container .content>*:last-of-type {
  padding-top: 1rem;
}

.jumbotron .introduction {
  font-weight: 600;
}

.jumbotron .description,
.jumbotron .full-name {
  color: var(--stylist-color-1);
  font-weight: 800;
}

.jumbotron .full-name {
  font-size: var(--font-size-37xl);
}

.jumbotron .about-me {
  font-weight: 500;
  color: var(--gray-1);
  word-spacing: .4rem;
}

.button-list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.button {
  border-radius: var(--br-5xs);
  box-shadow: var(--button-shadow);
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
  transform-origin: center center;
}

.button .text {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button .text:hover {
  transform: scale(1.05);
  transform-origin: center center;
}

.button.primary {
  background-color: var(--color-lightseagreen);
}

.button.secondary {
  background-color: var(--white-1);
}

.button .text {
  text-align: center;
  font-weight: bolder;
}

.primary .text {
  color: var(--stylist-color-3);
}

.secondary .text {
  color: var(--color-lightseagreen);
}

.card-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.card-section .header {
  background-color: var(--white-1);
  width: 100%;
  height: 21.5rem;
  display: flex;
  justify-content: center;
}

.card-section .header .title {
  align-self: center;
  font-size: var(--font-size-61xl);
  font-weight: bolder;
}

.card-section .card-list {
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--stylist-color-3);
}

.card-list .card {
  height: auto;
  background-color: var(--white-1);
  box-shadow: var(--menu-field-shadow);
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin: 3rem;
  gap: 0.8rem;

  transform: scale(.9);
  transition: transform 0.3s ease;

  border-radius: 6px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card-list .card:hover {
  transform: scale(1);
  transform-origin: center center;
}

.mycertification .card-list .card:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.card .icon {
  height: 20%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
}

.mycertification .card .icon {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.card .description {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--gray-1);
  text-align: justify;
  display: flex;
  align-items: center;
  flex: 1;
}

.card .title {
  font-size: 1.5rem;
  font-weight: bolder;
}

/* hide the scrollbar */
.card::-webkit-scrollbar {
  display: none;
}

/* Changes to Slick - sometimes need to be nested or have 'important'*/
.slider {
  width: 100%;
  margin: 0px auto;
}

.slick-arrow {
  display: none;
}

.slick-dots {
  position: static !important;
}

.slick-prev,
.slick-next {
  display: none !important
}

.slick-dots li.slick-active button:before {
  color: #000 !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: #000 !important;
}

.about-section {
  display: flex;
  gap: 4rem;
  padding: 12rem;
  justify-content: center;
}

.about-section .profile-img {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.about-section .profile-img img {
  max-width: 16rem;
}

.about-section .more-button {
  align-self: center;
}

.about-section .more-button .button {
  border-radius: var(--br-3xs);
  background-color: var(--gradient-4);
  width: 8rem;
  height: 3rem;
}

.about-section .more-button .text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: var(--stylist-color-3);
}

.about-section .container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.about-section .container .line {
  max-width: 40%;
}

.about-section .container .header .title {
  font-size: var(--font-size-9xl);
}

.about-section .container .header .sub-title {
  font-size: var(--font-size-61xl);
  color: var(--gray-3);
}

.about-section .lorem-ipsum-dolor,
.about-section .description {
  font-weight: 500;
  color: var(--gray-1);
}

.about-section .container .softskill {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.about-section .softskill .title {
  color: var(--gray-3);
  font-size: 1rem;
}

.myeducation-section {
  padding: 4rem;
}

.myeducation-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.myeducation-section .container .header {
  text-align: center;
  font-weight: bold;
}

.myeducation-section .container .line {
  max-width: 40%;
}

.myeducation-section .container .header .title {
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
}

.myeducation-section .container .header .sub-title {
  font-size: var(--font-size-29xl);
  color: var(--gray-3);
}

.myeducation-section .content-container {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 68%;
}

.myeducation-section .content-container .content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.myeducation-section .content-container .content img {
  width: 20%;
}

.myeducation-section .content-container .content .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myeducation-section .content-container .content .body>*:last-of-type {
  margin-top: .5rem;
}

.myeducation-section .content-container .content .body .title {
  color: var(--gray-3);
  font-size: 1rem;
}

.myeducation-section .content-container .content .body .title {
  color: var(--gray-3);
  font-size: var(--font-size-9xl);
}

.myeducation-section .content-container .content .body .sub-title {
  color: var(--gray-3);
  font-size: var(--font-size-5xl);
}

.myeducation-section .content-container .content .body .description {
  font-weight: 500;
  color: var(--gray-1);
}

.quotes {
  background-color: var(--stylist-color-3);
  padding: 4rem;
}

.quotes .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--gray-3);
  height: 32vh;
}

.quotes .content .quotation {
  font-size: var(--font-size-109xl);
  margin-bottom: -4.5rem;
}

.quotes .content .text {
  font-size: var(--font-size-17xl);
  font-weight: bolder;
  width: 60%;
  margin-bottom: 1rem;
}

.quotes .content .username {
  font-family: var(--font-patrick-hand);
  font-size: var(--font-size-9xl);
  margin-bottom: 1rem;
  font-weight: 100;
}

.myexperience-section {
  padding: 4rem 4rem 0 4rem;
}

.myexperience-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.myexperience-section .container .header {
  text-align: center;
  font-weight: bold;
}

.myexperience-section .container .line {
  max-width: 40%;
}

.myexperience-section .container .header .title {
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
}

.myexperience-section .container .header .sub-title {
  font-size: var(--font-size-37xl);
}

.myexperience-section .container .header .sub-item {
  font-size: var(--font-size-29xl);
  color: var(--gray-3);
}

.menu {
  padding: 4rem;
}

footer .container .menu .list a {
  color: var(--stylist-color-1) !important;
}

.container .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.container .menu .list {
  display: flex;
  width: 7.6rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  transform: scale(1);
  transition: transform .4s ease;
}

.container .menu .list:hover {
  transform: scale(1.2);
}

.container .menu .active {
  background-color: var(--color-lightseagreen);
}

.container .menu .list {
  list-style-type: none;
}

.container .menu .list a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-lightseagreen);
  transition: all .2s ease-in-out;
}

.myexperience-section .container .list a:hover {
  color: var(--gray-3);
  font-size: 1.1rem;
}

.container .menu .active a {
  color: var(--white-1) !important;
}

.myexperience-section .container .timeline {
  display: flex;
  flex-direction: row;
}

.myexperience-section .container .timeline .left-content {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-self: center;
  text-align: right;
  gap: 2rem;
  padding: 4rem;
  justify-content: right;
}

.myexperience-section .container .timeline .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  gap: .4rem;
}

.myexperience-section .container .timeline .icon {
  height: 8rem;
}

.myexperience-section .container .timeline .icon img {
  height: 100%;
  width: auto;
}

.myexperience-section .container .timeline .content .item {
  font-size: var(--font-size-17xl);
  color: var(--stylist-color-1);
}

.myexperience-section .container .timeline .content .sub-item {
  font-size: var(--font-size-5xl);
  color: var(--gradient-4);
}

.myexperience-section .container .timeline .content .description {
  font-weight: 500;
  color: var(--gray-1);
}

.myexperience-section .container .timeline .lineoftime {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
  align-self: center;
  align-content: center;
}

.myexperience-section .container .timeline .lineoftime .line {
  position: absolute;
  z-index: -1;
  border-left: .4rem solid #ccc;
  border-radius: 1rem;
  height: 28%;
  border-color: var(--gradient-4);
}

.myexperience-section .container .timeline:last-child .lineoftime .line {
  height: 16%;
  border-radius: 0;
}

.myexperience-section .container .timeline .right-content {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-self: center;
  text-align: left;
  gap: 2rem;
  padding: 4rem;
  justify-content: left;
}

.myexperience-section .container .timeline .date {
  text-align: center !important;
  color: var(--gradient-4);
  font-size: var(--font-size-17xl);
}

.myproject-section .container .header .title {
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
}

.myproject-section .container .header .sub-title {
  font-size: var(--font-size-37xl);
}

.myproject-section .wrapper {
  padding: 8rem;
  background-color: var(--stylist-color-1);
  background-image: url('../../public/backgroundimage@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.myproject-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 56vh;
}

.myproject-section .container .header {
  text-align: center;
  font-weight: bold;
  background-color: var(--gray-3);
  opacity: 0.6;
  border-radius: .4rem;
  padding: .8rem;
  width: 40%;
}

.myproject-section .container .header .content {
  background-color: var(--white-1);
  padding: 4rem;
}

.myproject-section .container .line {
  max-width: 40%;
}

.myproject-section .container .header .item {
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
}

.myproject-section .container .header .sub-item {
  font-size: var(--font-size-29xl);
  color: var(--stylist-color-1);
}

.myproject-section .project-tile {
  padding: 0 16rem;
  margin-bottom: 4rem;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Setiap grid */
.item {
  position: relative;
  overflow: hidden;
}

/* Gambar pada setiap grid */
.item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Efek zoom ketika hover */
.item:hover img {
  transform: scale(1.1);
}

/* Overlay pada gambar */
.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Teks pada overlay */
.item .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: .8rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Tampilkan overlay dan teks ketika hover */
.item:hover .overlay {
  opacity: 1;
}

.item:hover .overlay-text {
  opacity: 1;
}

footer {
  padding: 4rem;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

footer .container .title,
footer .container .email {
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
  font-weight: bolder;
}

footer .container .copyright {
  font-size: var(--font-size-5xl);
}

footer .container .menu {
  padding: 0;
}

footer .container .social-media {
  display: flex;
  flex-direction: row;
  gap: .8rem;
  max-width: 32%;
  align-self: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
  }
}