/* Header Section */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  z-index: 100;
  box-sizing: border-box;
}

header .container {
  display: flex;
  gap: 4rem;
  align-items: center;
}

header .container .profile-img {
  width: 48px;
  height: 48px;
}

header .container h1 {
  padding-inline: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  align-self: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 4rem;
}

header nav li {
  list-style-type: none;
}

header nav li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--stylist-color-3);
  padding: .2rem 0.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}

header nav a:hover {
  color: var(--gray-3);
  font-weight: bolder;
}

/* Main Section */

main {
  width: 100%;
  height: auto;
}

.jumbotron {
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--gradient-3);

  background-image: url('../../public/main-jumbotron-bg.png');
  background-size: cover;
  background-position: center;
  height: 56rem;
  /* atur ketinggian jumbotron */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jumbotron .container {
  display: flex;
  padding: 2rem;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
}

.jumbotron .container .social-media {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 32%;
  align-self: center;
  justify-content: center;
}

.social-media .icon img {
  display: block;
  max-width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.social-media .icon img:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.jumbotron .container .content {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding-left: 2rem;
  max-width: 32%;
}

.jumbotron .container .content>*:last-of-type {
  padding-top: 1rem;
}

.jumbotron .introduction {
  font-weight: 600;
}

.jumbotron .description,
.jumbotron .full-name {
  color: var(--stylist-color-1);
  font-weight: 800;
}

.jumbotron .full-name {
  font-size: var(--font-size-37xl);
}

.jumbotron .about-me {
  font-weight: 500;
  color: var(--gray-1);
  word-spacing: .4rem;
}

.button-list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.button {
  border-radius: var(--br-5xs);
  box-shadow: var(--button-shadow);
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
  transform-origin: center center;
}

.button .text {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button .text:hover {
  transform: scale(1.05);
  transform-origin: center center;
}

.button.primary {
  background-color: var(--color-lightseagreen);
}

.button.secondary {
  background-color: var(--stylist-color-3);
}

.button .text {
  text-align: center;
  font-weight: bolder;
}

.primary .text {
  color: var(--stylist-color-3);
}

.secondary .text {
  color: var(--color-lightseagreen);
}

.card-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.card-section .header {
  background-color: var(--white-1);
  width: 100%;
  height: 21.5rem;
  display: flex;
  justify-content: center;
}

.card-section .header .title {
  align-self: center;
  font-size: var(--font-size-61xl);
  font-weight: bolder;
}

.card-section .card-list {
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--stylist-color-3);
}

.card-list .card {
  height: auto;
  background-color: var(--white-1);
  box-shadow: var(--menu-field-shadow);
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin: 3rem;
  gap: 0.8rem;

  border-radius: 6px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card .icon {
  height: 20%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
}

.mycertification .card .icon {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.card .description {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--gray-1);
  text-align: justify;
  display: flex;
  align-items: center;
  flex: 1;
}

.card .title {
  font-size: 1.5rem;
  font-weight: bolder;
}

/* hide the scrollbar */
.card::-webkit-scrollbar {
  display: none;
}

/* Changes to Slick - sometimes need to be nested or have 'important'*/
.slider {
  width: 100%;
  margin: 0px auto;
}

.slick-arrow {
  display: none;
}

.slick-dots {
  position: static !important;
}

.slick-prev,
.slick-next {
  display: none !important
}

.slick-dots li.slick-active button:before {
  color: #000 !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: #000 !important;
}

.about-section {
  display: flex;
  gap: 4rem;
  padding: 12rem;
  justify-content: center;
}

.about-section .profile-img {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.about-section .profile-img img {
  max-width: 16rem;
}

.about-section .more-button {
  align-self: center;
}

.about-section .more-button .button {
  border-radius: var(--br-3xs);
  background-color: var(--gradient-4);
  width: 8rem;
  height: 3rem;
}

.about-section .more-button .text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: var(--stylist-color-3);
}

.about-section .container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.about-section .container .line {
  max-width: 40%;
}

.about-section .container .header .title {
  font-size: var(--font-size-9xl);
}

.about-section .container .header .sub-title {
  font-size: var(--font-size-61xl);
  color: var(--gray-3);
}

.about-section .lorem-ipsum-dolor,
.about-section .description {
  font-weight: 500;
  color: var(--gray-1);
}

.about-section .container .softskill {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.about-section .softskill .title {
  color: var(--gray-3);
  font-size: 1rem;
}

.myeducation-section {
  padding: 4rem;
}

.myeducation-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.myeducation-section .container .header {
  text-align: center;
  font-weight: bold;
}

.myeducation-section .container .line {
  max-width: 40%;
}

.myeducation-section .container .header .title {
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
}

.myeducation-section .container .header .sub-title {
  font-size: var(--font-size-29xl);
  color: var(--gray-3);
}

.myeducation-section .content-container {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 68%;
}

.myeducation-section .content-container .content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.myeducation-section .content-container .content img {
  width: 20%;
}

.myeducation-section .content-container .content .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myeducation-section .content-container .content .body>*:last-of-type {
  margin-top: .5rem;
}

.myeducation-section .content-container .content .body .title {
  color: var(--gray-3);
  font-size: 1rem;
}

.myeducation-section .content-container .content .body .title {
  color: var(--gray-3);
  font-size: var(--font-size-9xl);
}

.myeducation-section .content-container .content .body .sub-title {
  color: var(--gray-3);
  font-size: var(--font-size-5xl);
}

.myeducation-section .content-container .content .body .description {
  font-weight: 500;
  color: var(--gray-1);
}

.quotes {
  background-color: var(--stylist-color-3);
  padding: 4rem;
}

.quotes .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--gray-3);
  height: 32vh;
}

.quotes .content .quotation {
  font-size: var(--font-size-109xl);
  margin-bottom: -4.5rem;
}

.quotes .content .text {
  font-size: var(--font-size-17xl);
  font-weight: bolder;
  width: 60%;
  margin-bottom: 1rem;
}

.quotes .content .username {
  font-family: var(--font-patrick-hand);
  font-size: var(--font-size-9xl);
  margin-bottom: 1rem;
}

/* 
.shape-divider3 {
  top: 0;
  background-color: var(--stylist-color-3);
  height: 43.25rem;
}
.title-divider7,
.title-divider8 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-divider7 {
  top: 0;
  left: 10.63rem;
  width: 13.25rem;
}
.title-divider8 {
  top: 2.19rem;
  left: 0;
  font-size: var(--font-size-29xl);
  color: var(--gray-3);
  width: 34.49rem;
}
.title-divider-parent1 {
  position: absolute;
  top: 0;
  left: 21.13rem;
  width: 34.49rem;
  height: 5.94rem;
  font-size: var(--font-size-9xl);
  color: var(--gradient-4);
}
.main-content-item {
  position: absolute;
  top: 8.23rem;
  left: 34.25rem;
  width: 8.25rem;
  height: 0.27rem;
}
.title-divider9 {
  position: absolute;
  top: 0;
  left: 11rem;
  font-size: var(--font-size-5xl);
  display: flex;
  color: var(--gray-3);
  align-items: center;
  width: 24.06rem;
}
.description10,
.description11 {
  position: absolute;
  top: 4.69rem;
  left: 11rem;
  font-weight: 500;
  display: inline-block;
  width: 23.88rem;
}
.description11 {
  top: 2.13rem;
  width: 24.06rem;
}
.image-14-icon {
  position: absolute;
  top: 0.75rem;
  left: 0;
  width: 8rem;
  height: 7.9rem;
  object-fit: cover;
}
.title-divider-parent2 {
  position: absolute;
  top: 14.88rem;
  left: 0;
  width: 35.06rem;
  height: 9.38rem;
  text-align: left;
}
.title-divider10 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  display: flex;
  color: var(--gray-3);
  align-items: center;
  width: 28.25rem;
}
.description12,
.description13 {
  position: absolute;
  top: 4.69rem;
  left: 4.38rem;
  font-weight: 500;
  display: inline-block;
  width: 23.88rem;
}
.description13 {
  top: 2.13rem;
  left: 4.19rem;
  width: 24.06rem;
}
.image-14-icon1 {
  position: absolute;
  top: 0.69rem;
  left: 31.25rem;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}
.title-divider-parent3 {
  position: absolute;
  top: 14.88rem;
  left: 37.5rem;
  width: 39.25rem;
  height: 9.38rem;
  text-align: right;
}
.image-11-icon2,
.main-content1 {
  position: absolute;
  height: 24.25rem;
}
.main-content1 {
  top: 9.5rem;
  left: 21.63rem;
  width: 76.75rem;
}
.image-11-icon2 {
  top: 43.25rem;
  left: 0;
  width: 120rem;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.title-divider11 {
  top: 4.13rem;
  left: 0;
  letter-spacing: 0.08em;
  width: 67.31rem;
}
.title-divider11,
.title-divider12,
.title-divider13 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-divider12 {
  top: 15.06rem;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-patrick-hand);
  color: var(--gray-1);
  width: 67.31rem;
}
.title-divider13 {
  top: 0;
  left: 29.44rem;
  font-size: 8.19rem;
  width: 8.5rem;
  height: 6.88rem;
}
.title-divider-parent4 {
  position: absolute;
  top: 46.31rem;
  left: 26.31rem;
  width: 67.31rem;
  height: 18.13rem;
  font-size: 2.75rem;
  color: var(--gray-3);
}
.website-5 {
  position: absolute;
  top: 270rem;
  left: 0;
  background-color: var(--gray-2);
  width: 120rem;
  height: 67.5rem;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--gray-1);
}
.undeline-icon {
  position: absolute;
  top: 8.23rem;
  left: 13.13rem;
  width: 8.25rem;
  height: 0.27rem;
}
.header2 {
  position: absolute;
  top: 0;
  left: 28.5rem;
  width: 34.49rem;
  height: 8.38rem;
  text-align: center;
  font-size: var(--font-size-9xl);
}
.line-icon {
  top: 15.31rem;
  left: 45.5rem;
  width: 0.5rem;
  height: 42.69rem;
}
.content,
.date,
.line-icon {
  position: absolute;
}
.date {
  top: 3.75rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 24.06rem;
}
.content {
  top: 0;
  left: 35.06rem;
  width: 35.06rem;
  height: 9.38rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--gray-1);
}
.timeline-3,
.vector-icon {
  position: absolute;
  top: 3.19rem;
  left: 27.06rem;
  width: 3rem;
  height: 3rem;
}
.timeline-3 {
  top: 48.06rem;
  left: 17.19rem;
  width: 70.13rem;
  height: 9.38rem;
}
.date1 {
  position: absolute;
  top: 3.69rem;
  left: 50.25rem;
  display: flex;
  align-items: center;
  width: 24.06rem;
}
.content1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 39.25rem;
  height: 9.38rem;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--gray-1);
}
.vector-icon1 {
  position: absolute;
  top: 3.19rem;
  left: 44.25rem;
  width: 3rem;
  height: 3rem;
}
.timeline-1,
.timeline-2 {
  position: absolute;
  height: 9.38rem;
}
.timeline-2 {
  top: 33.31rem;
  left: 0;
  width: 74.31rem;
  text-align: left;
}
.timeline-1 {
  top: 18.56rem;
  left: 17.19rem;
  width: 70.13rem;
}
.main-content2 {
  top: 9.5rem;
  left: 14.25rem;
  width: 87.31rem;
  height: 58rem;
}
.main-content2,
.shape6,
.text8 {
  position: absolute;
}
.shape6 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--gradient-4);
  width: 8.63rem;
  height: 2.81rem;
}
.text8 {
  top: 0.69rem;
  left: 2.04rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.6rem;
  height: 1.44rem;
}
.about-me-button3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.63rem;
  height: 2.81rem;
  color: var(--stylist-color-3);
}
.shape7,
.text9 {
  position: absolute;
}
.shape7 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--stylist-color-3);
  width: 8.63rem;
  height: 2.81rem;
}
.text9 {
  top: 0.69rem;
  left: 1.62rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.3rem;
  height: 1.44rem;
}
.about-me-button4 {
  position: absolute;
  top: 0;
  left: 9.88rem;
  width: 8.63rem;
  height: 2.81rem;
}
.text10 {
  position: absolute;
  top: 0.69rem;
  left: 0.19rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.25rem;
  height: 1.44rem;
}
.about-me-button5 {
  position: absolute;
  top: 0;
  left: 19.75rem;
  width: 8.63rem;
  height: 2.81rem;
}
.text11 {
  position: absolute;
  top: 0.69rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.13rem;
  height: 1.44rem;
}
.about-me-button6,
.about-me-button7,
.about-me-button8 {
  position: absolute;
  top: 0;
  left: 29.63rem;
  width: 8.63rem;
  height: 2.81rem;
}
.about-me-button7,
.about-me-button8 {
  left: 39.5rem;
}
.about-me-button8 {
  left: 49.38rem;
}
.about-me-button-parent {
  position: absolute;
  top: 19.63rem;
  left: 31rem;
  width: 58rem;
  height: 2.81rem;
  text-align: center;
  font-size: var(--font-size-xl);
}
.line-icon1,
.website-6 {
  position: absolute;
  height: 67.5rem;
}
.website-6 {
  top: 337.5rem;
  left: 0;
  background-color: var(--gray-2);
  width: 120rem;
  overflow: hidden;
  text-align: right;
}
.line-icon1 {
  top: 0;
  left: 45.5rem;
  width: 0.5rem;
}
.timeline-31 {
  top: 19.19rem;
  left: 17.19rem;
  width: 70.13rem;
}
.timeline-21,
.timeline-31,
.timeline-32 {
  position: absolute;
  height: 9.38rem;
}
.timeline-21 {
  top: 4.81rem;
  left: 0;
  width: 74.31rem;
  text-align: left;
}
.timeline-32 {
  top: 47.94rem;
  left: 17.19rem;
  width: 70.13rem;
}
.shape12,
.timeline-22 {
  position: absolute;
  left: 0;
}
.timeline-22 {
  top: 33.56rem;
  width: 74.31rem;
  height: 9.38rem;
  text-align: left;
}
.shape12 {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--stylist-color-3);
  width: 24.06rem;
  height: 5.19rem;
}
.show-more-txt {
  line-break: anywhere;
  width: 100%;
}
.show-more,
.show-more-button {
  position: absolute;
  width: 24.06rem;
}
.show-more {
  top: 0.17rem;
  left: 0;
  display: flex;
  align-items: center;
  height: 5.02rem;
}
.show-more-button {
  top: 61rem;
  left: 33.69rem;
  height: 5.19rem;
  text-align: center;
}
.main-content3 {
  position: absolute;
  top: 0;
  left: 14.25rem;
  width: 87.31rem;
  height: 67.5rem;
}
.background-image-icon,
.website-7 {
  position: absolute;
  left: 0;
  width: 120rem;
}
.website-7 {
  top: 405rem;
  background-color: var(--gray-2);
  height: 67.5rem;
  overflow: hidden;
  text-align: right;
}
.background-image-icon {
  top: 0;
  height: 60.5rem;
  object-fit: cover;
}
.darken-filter {
  top: 0;
  background-color: var(--stylist-color-1);
  height: 60.5rem;
  opacity: 0.48;
}
.bg-img,
.darken-filter,
.shape-divider6 {
  position: absolute;
  left: 0;
  width: 120rem;
}
.bg-img {
  top: 0;
  height: 60.5rem;
}
.shape-divider6 {
  top: 60.5rem;
  background-color: var(--stylist-color-3);
  height: 7rem;
}
.text20 {
  position: absolute;
  top: 0.69rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.56rem;
  height: 1.44rem;
}
.about-me-button-group {
  position: absolute;
  top: 62.56rem;
  left: 31rem;
  width: 58rem;
  height: 2.81rem;
}
.subtract-child,
.subtract-item {
  position: absolute;
  top: 20.69rem;
  left: 37.38rem;
  background-color: #d9d9d9;
  width: 45.25rem;
  height: 19.06rem;
  opacity: 0.6;
}
.subtract-item {
  top: 21.31rem;
  left: 38.06rem;
  background-color: #fff;
  width: 43.82rem;
  height: 17.78rem;
}
.subtract {
  position: relative;
  background-color: var(--gray-1);
  width: 45.25rem;
  height: 19.06rem;
  opacity: 0.6;
}
.group-child {
  position: absolute;
  top: 1.29rem;
  left: 1.71rem;
  background-color: var(--stylist-color-3);
  width: 41.82rem;
  height: 16.49rem;
  opacity: 0.8;
}
.subtract-parent {
  position: absolute;
  top: 20.69rem;
  left: 37.38rem;
  width: 45.25rem;
  height: 19.06rem;
}
.title-divider14 {
  position: absolute;
  top: 0;
  left: 11.69rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.06rem;
}
.title-divider-parent5 {
  position: absolute;
  top: 27.25rem;
  left: 42.75rem;
  width: 34.49rem;
  height: 5.94rem;
  font-size: var(--font-size-9xl);
}
.website-8 {
  position: absolute;
  top: 472.5rem;
  left: 0;
  background-color: var(--stylist-color-3);
  box-shadow: var(--divider-shadow);
  width: 120rem;
  height: 67.5rem;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.icon4,
.image-13-icon3,
.website-1-1-icon {
  position: absolute;
  top: 28.31rem;
  left: 53.25rem;
  width: 30.63rem;
  height: 54.31rem;
  object-fit: cover;
}
.image-13-icon3,
.website-1-1-icon {
  top: 5.38rem;
  left: 10.94rem;
  width: 41.06rem;
  height: 21.69rem;
}
.image-13-icon3 {
  left: 53.25rem;
  width: 30.63rem;
}
.image-15-icon,
.img-20230123-095037-945-1-icon {
  position: absolute;
  top: 28.31rem;
  left: 10.94rem;
  width: 41.06rem;
  height: 22.25rem;
  object-fit: cover;
}
.img-20230123-095037-945-1-icon {
  top: 5.38rem;
  left: 85.13rem;
  width: 23.94rem;
  height: 42.56rem;
}
.icon5,
.icon6,
.icon7,
.icon8,
.icon9 {
  position: absolute;
  top: 51.81rem;
  left: 11.06rem;
  width: 18.69rem;
  height: 33.5rem;
  object-fit: cover;
}
.icon6,
.icon7,
.icon8,
.icon9 {
  left: 31rem;
  width: 21rem;
  height: 11.81rem;
}
.icon7,
.icon8,
.icon9 {
  top: 64.88rem;
  left: 31.06rem;
  width: 20.94rem;
  height: 12.94rem;
}
.icon8,
.icon9 {
  top: 49.19rem;
  left: 85.13rem;
  width: 23.94rem;
  height: 13.44rem;
}
.icon9 {
  top: 63.88rem;
  height: 23.94rem;
}
.website-9 {
  position: absolute;
  top: 540rem;
  left: 0;
  background-color: var(--stylist-color-3);
  box-shadow: var(--divider-shadow);
  width: 120rem;
  height: 67.5rem;
  overflow: hidden;
}
.icon10,
.icon11,
.icon12 {
  position: absolute;
  top: 39.19rem;
  object-fit: cover;
}
.icon10 {
  left: 0;
  width: 18.69rem;
  height: 33.5rem;
}
.icon11,
.icon12 {
  left: 20rem;
  width: 20.94rem;
  height: 12.81rem;
}
.icon12 {
  top: 55.56rem;
  left: 42.19rem;
  width: 30.63rem;
  height: 18.75rem;
}
.icon13,
.icon14,
.icon15,
.image-16-icon {
  position: absolute;
  top: 39.19rem;
  left: 74.06rem;
  width: 23.94rem;
  height: 23.94rem;
  object-fit: cover;
}
.icon14,
.icon15,
.image-16-icon {
  top: 50.63rem;
  left: 20rem;
  width: 20.94rem;
  height: 20.94rem;
}
.icon15,
.image-16-icon {
  top: 39.19rem;
  left: 42.19rem;
  width: 30.63rem;
  height: 54.31rem;
}
.image-16-icon {
  top: 60.75rem;
  left: 74.06rem;
  width: 23.94rem;
  height: 16.94rem;
}
.img-20230123-095037-945-2-icon {
  position: absolute;
  top: 58.13rem;
  left: 0;
  width: 18.75rem;
  height: 33.31rem;
  object-fit: cover;
}
.icon16,
.image-16-icon1,
.website-1-1-icon1 {
  position: absolute;
  top: 72.81rem;
  left: 20rem;
  width: 20.94rem;
  height: 18.63rem;
  object-fit: cover;
}
.icon16,
.website-1-1-icon1 {
  top: 75.56rem;
  left: 42.19rem;
  width: 30.63rem;
  height: 15.88rem;
}
.icon16 {
  top: 78.94rem;
  left: 74.06rem;
  width: 23.94rem;
  height: 12.5rem;
}
.main-content4 {
  position: absolute;
  top: -39.19rem;
  left: 11.06rem;
  width: 98rem;
  height: 91.44rem;
}
.shape-divider9 {
  position: absolute;
  top: 41rem;
  left: 0;
  background-color: var(--stylist-color-3);
  width: 120rem;
  height: 26.5rem;
}
.midorinoken {
  color: var(--gray-3);
}
.title-divider16 {
  position: absolute;
  top: 64.69rem;
  left: 47.13rem;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 25.75rem;
  color: var(--gradient-4);
}
.social-media-icon2 {
  position: absolute;
  height: 5.19%;
  width: 13.54%;
  top: 75.74%;
  right: 43.23%;
  bottom: 19.07%;
  left: 43.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo8 {
  top: 46.75rem;
  left: 54.75rem;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
}
.logo10,
.logo8,
.logo9 {
  position: absolute;
}
.logo9 {
  top: 56.38rem;
  left: 50.88rem;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
}
.logo10 {
  top: 60rem;
  left: 45rem;
}
.logo11,
.logo12,
.logo13,
.logo14 {
  position: absolute;
  top: 60rem;
  left: 50.38rem;
}
.logo12,
.logo13,
.logo14 {
  left: 57.5rem;
}
.logo13,
.logo14 {
  left: 63.44rem;
}
.logo14 {
  left: 69.44rem;
}
.show-more-button1 {
  position: absolute;
  top: 34.06rem;
  left: 47.94rem;
  width: 24.06rem;
  height: 5.19rem;
  font-size: var(--font-size-5xl);
  color: var(--gradient-4);
}
.website-61 {
  position: absolute;
  top: 607.5rem;
  left: 0;
  background-color: var(--stylist-color-3);
  box-shadow: var(--divider-shadow);
  width: 120rem;
  height: 67.5rem;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--stylist-color-1);
} */